<% provide :head_tags do %>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script>
    
    var slider;
    var output;
  $(document).on('turbolinks:load', function() {
        initMap(<%=@location_set.map{|l| l.lat}%>, <%=@location_set.map{|l| l.long}%>, <%=raw @location_set.map{|l| l.name}%>)
        addMarker(<%=@permit_set.map{|l| l.lat}%>, 
        <%=@permit_set.map{|l| l.long}%>, 
        <%=@permit_set.map{|l| l.value}%>)
    });
    
    </script>
<% end %>
<div id="wrapper">
  <div id="left">
        <%= form_for :anything, url: "map" do |f| %>
              <h3>Building Permit Value</h3>
              <p>Between 0 and 150 million</p>
              <span><input name="lower_value" type="text"
                  value=<%=@start_value%> id="value_range">-
                  <input name="upper_value" type="text"
                  value=<%=@end_value%> id="value_range"></span>
                  <br />
              <h3>Year Granted</h3>
              <p>Between 2010 and 2019</p>
              <span><input name="lower_year" type="text"
                  value=<%=@start_year%> id="lower_year">-
                  <input name="upper_year" type="text"
                  value=<%=@end_year%> id="upper_year"></span>
                  <br />
                  <br />
                <%= f.submit "Update Map", class: "btn btn-primary"%>
              <h3>Count of Permits by Value</h3>
              <%= column_chart @permit_categories, donut: true, legend: false, width: "500px", height: "200px"%>
              
              <h3>Number of Permits by Year</h3>
              <%= line_chart @permit_set.group(:issue_year).count, donut: true, legend: false, width: "500px", height: "200px"%>

        <% end %>
</div>
  <div id="right">

    <%= render 'submap' %>
            
    <h3>Building Permit Value</h3>
    <p><b>Building permits</b> are granted by the region to companies that wish to invest in new buildings. </p>
    <p><b>ION Locations</b> are indicated by red markers and show where the train stations are located </p>
    <p><b>Click</b> on a marker to view details about that stop </p>
  </div>
</div>

  <%= form_for :anything, :url => "data", :html => { :id => "data_form" }  do |f| %>
    <%= f.hidden_field :station_selection %>
    <%= f.hidden_field :lower_year %>
    <%= f.hidden_field :upper_year %>
  <% end %>